.listItemContainer.addNew {
    opacity: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}
dl.dl-horizontal.text-center dt {
    text-align: right;
}
dl.dl-horizontal.text-center dd {
    text-align: left;
}
a {
    cursor: pointer;
}
.selected {
    color: #428BCA;
    text-shadow: none !important;
}
.loadingIcon {
    position: absolute;
    right:50%;
    top: 50%;
    opacity: 1;
}
.lookDisabled {
    opacity: 0.5;
}
.spacer {
    margin-top: 5px;
    margin-bottom: 5px;
}
.spacer-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
html {
    background: linear-gradient(#4F94D1, #BCDAF5 120%);
    min-height: 100%;
}
body {
    color: #232323;
    overflow-x: hidden;
    background: transparent;
}
.listItemContainer {
    background-color: #72B5F7;
    border-radius: 10px;
    display: block;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
}
.listItemContainer a,.listItemContainer a:hover,.listItemContainer a:active {
    color: white;
}
.listItemContainer .dropdown-menu {
    color: black;
    min-width: 200px;
}
.googleMap {
    border-radius: 8px;
}
header, footer, nav, section {
    display: block;
}
header { 
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}
header a {
    color: black;
}
header .nav > li {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
header img{
    height: auto;
    width: 100%;

}
.hideOverflow {
    overflow: hidden;
}
div.fullHeight{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
h1.title {
    font-family: lucida console;
    font-size: 45px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; 
}
header object {
    width: 100%;
    height: auto;
}
.content {
    background-color: #fff;
    padding: 10px;
}
section,header {
   padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
.content p {
    display: inline;
}
#main {
    margin-bottom: 30px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* angular animations */

.flyLeft.ng-enter,
.flyLeft.ng-leave,
.flyLeft.ng-move,
.flyLeft.ng-hide-add,
.flyLeft.ng-hide-remove {
  -webkit-transition:all ease 0.5s;
  -moz-transition:all ease 0.5s;
  -o-transition:all ease 0.5s;
  transition:all ease 0.5s;
}

.flyLeft.ng-enter,.flyLeft.ng-leave.ng-leave-active
,.flyLeft.ng-hide-remove,.flyLeft.ng-hide-add.ng-hide-add-active{
  left:150px;
  opacity:0;
}
.flyLeft.ng-enter.ng-enter-active,.flyLeft.ng-leave
,.flyLeft.ng-hide-remove.ng-hide-remove-active,.flyLeft.ng-hide-add{
  left:0;
  opacity:1;
}
.flyLeft.ng-move {
    opacity: 0.5;
}
.flyLeft.ng-move-active {
    opacity: 1;
}
.flyLeft.ng-hide-add,.flyLeft.ng-hide-remove {
    display: block !important;
}

.slideVertical.ng-hide-add,
.slideVertical.ng-hide-remove {
    display: block !important;
}
.slideVertical.ng-hide-remove{
    -webkit-transition:max-height linear 4s,padding linear 1s;
    -moz-transition:all linear 4s,padding linear 1s;
    -o-transition:all linear 4s,padding linear 1s;
    transition:all linear 4s,padding linear 1s;
    overflow: hidden;
}

.slideVertical.ng-hide-add {
  -webkit-transition:opacity linear 1s;
  -moz-transition:opacity linear 1s;
  -o-transition:opacity linear 1s;
  transition:opacity linear 1s;
}
.slideVertical.ng-hide-remove {
    max-height: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.slideVertical.ng-hide-remove-active {
    max-height: 800px;
}
.slideVertical.jumbotron.ng-hide-remove-active {
    padding-bottom: 48px;
    padding-top: 48px;
}
.slideVertical.ng-hide-add {
    opacity: 1;
}
.slideVertical.ng-hide-add-active {
    opacity: 0;
}

.journeyTimePanel {
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    left: 0;
    top: 0;
    z-index: 9999;
}

