@model CommuteTimingWebsite.Models.Route

@{
    ViewBag.Title = "Route "+Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script>
        module.controller('routeDetailController', function ($scope) {
            $scope.NewJourney = @Html.Raw(Json.Encode(ViewBag.NewJourney));
            $scope.Route = @Html.Raw(Json.Encode(Model));
        });
    </script>
}

<div class="page-header">
    <h2>Route @Model.Name</h2>
</div>
<div class="col-xs-12" ng-controller="routeDetailController">
    <button class="btn btn-primary btn-block">Record</button>
    <p ng-repeat="j in Route.Journeys">{{j.ID}}</p>
</div>
