@if (Request.IsAuthenticated) {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a data-toggle="tooltip" id="manage" class="hasTooltip" href="@Url.Action("Manage", "Account",null)" title="Manage User"><i class="fa fa-2x fa-user"></i></a>
            <a data-toggle="tooltip" id="logoff" class="hasTooltip" href="javascript:document.getElementById('logoutForm').submit()" title="Log Out"><i class="fa fa-2x fa-sign-out"></i></a>
        }
} else {
        <a data-toggle="tooltip" id="register" class="hasTooltip" href="@Url.Action("Register", "Account", routeValues: null)" title="Register"><i class="fa fa-2x fa-pencil-square"></i></a>
        <a data-toggle="tooltip" id="login" class="hasTooltip" href="@Url.Action("Login", "Account", routeValues: null)" title="Log In"><i class="fa fa-2x fa-sign-in"></i></a>
}
